body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

.container {
    width: 400px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 10px;
}

input {
    width: 90%;
    padding: 6px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.todo-input {
    display: flex;
    gap: 5px;
}

button {
    padding: 6px 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
    /* color : white;
    background-color: rgb(189, 110, 110); */
}

li {
    background:#d97979;
    margin: 5px 0;
    padding: 8px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}


.completed {
    /* text-decoration: line-through; */
    background-color: #8cc99b;
    color: rgb(225, 233, 223);
}
